= form_for @expense_category do |f|
  - if @expense_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expense_category.errors.count, "error")} prohibited this expense_category from being saved:"
      %ul
        - @expense_category.errors.full_messages.each do |message|
          %li= message

  .form-group
    .field.expense_category_name.form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .actions.form-group
      = f.submit class: 'btn btn-primary'
