%h1= t '.title'

%table#expense_categories.table.table-striped.table-bordered
  %thead
    %tr
      %th= @expense_categories.human_attribute_name :name
      %th

  %tbody
    - @expense_categories.each do |expense_category|
      %tr
        %td= expense_category.name
        %td
          = link_to edit_expense_category_path(expense_category), title: t('edit') do
            %span.glyphicon.glyphicon-edit
          = link_to expense_category, method: :delete, data: { confirm: t('.confirm') }, title: t('destroy') do
            %span.glyphicon.glyphicon-trash
          = link_to expense_category_expenses_path(expense_category), title: t('.expenses') do
            %span.glyphicon.glyphicon-list

%br

= link_to t('.new'), new_expense_category_path, class: 'btn btn-primary'
